useDynLib(fdaPDE)
	
	import(Matrix)
        import(plot3D)
	import(rgl)
        import(plot3Drgl)
	import(geometry)
	importFrom("grDevices", "heat.colors","palette")
	importFrom("graphics", "plot", "segments")
	importFrom("stats", "lm.fit")
	export(create.mesh.2D,refine.mesh.2D,create.mesh.2.5D,create.mesh.3D)
	export(create.FEM.basis, smooth.FEM, FEM, eval.FEM, FPCA.FEM)
	export(plot.mesh.2D,plot.FEM, plot.mesh.2.5D, plot.mesh.3D, image.FEM)
	#export(CPP_smooth.FEM.basis, CPP_smooth.FEM.PDE.basis, CPP_smooth.FEM.PDE.sv.basis, CPP_eval.FEM, CPP_get_evaluations_points, CPP_get.FEM.Mass.Matrix, CPP_get.FEM.Stiff.Matrix, CPP_get.FEM.PDE.Matrix, CPP_get.FEM.PDE.sv.Matrix, CPP_smooth.manifold.FEM.basis, CPP_eval.manifold.FEM)
        export(smooth.FEM.basis, smooth.FEM.PDE.basis, smooth.FEM.PDE.sv.basis)
        export(plot.MESH2D, create.MESH.2D, refine.MESH.2D)
        export(R_eval.FEM, R_eval.FEM.basis, R_mass, R_smooth.FEM.basis, R_stiff)	
        S3method(plot,FEM)
	S3method(image,FEM)
        S3method(plot,mesh.2D)
        S3method(plot,mesh.2.5D)
        S3method(plot,mesh.3D)
        S3method(plot,MESH2D)